@import "bootstrap-sprockets";
@import "bootstrap";

@media (min-width: 900px) {
  #add-slip-row {
    display: flex;
  }
}
.orc-wrap {
  display: flex;
  justify-content: center;
  max-width: 400px;
}

  .alert {
    margin-top: 10px;
  }

  section {
    overflow: auto;
  }

  textarea {
    resize: vertical;
  }

  .center {
    text-align: center;
  }

  .center h1 {
    margin-bottom: 10px;
  }

  .btn-spacing {
    margin-bottom: 5px;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }

  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }

  h2 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }

  p {
    font-size: 0.8em;
    line-height: 1.5em;
  }

  li {
    list-style: none;
    text-decoration: none;
  }

  .separator {
    height: 50px;
  }

  .min-separator {
    height: 15px;
  }

  .border-separator {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
  }

  .text-align-right {
    text-align: right;
  }

  .margin-right {
    margin: 0 0 0 auto;
  }

  .float-right {
    float: right;
  }

  .text-center {
    text-align: center;
  }

  .font-bold {
    font-weight: bold;
  }

  .padding-5-10-10 {
    padding: 5px 10px 10px;
  }

  .margin-top-10 {
    margin-top: 10px;
  }

  .display-flex {
    display: flex;
  }

  .btn-space {
    margin: 15px 10px;
  }

  .max-width-50 {
    max-width: 50%;
  }

  .margin-x {
    margin: 0 5px;
  }

  .required::after {
    content: "必須";
    color: #ffffff;
    background: #cc0000;
    font-size: 0.8em;
    padding: 0.3em;
    border-radius: 0.5em;
    margin-left: 0.3em;
  }
